{% if cv.skills %}
  <div id="skills" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Skills</h3>
    </header>

    <div class="entry-content">
      {% for s in cv.skills %}
        <div class="taxonomy">
          {% if s.name %}
            <h4 class="title">{{ s.name }}</h4>
          {% endif %}
          {% if s.keywords %}
            <ul>
            {% for key in s.keywords %}
              <li>{{ key }}</li>
            {% endfor %}
            </ul>
          {% endif %}
           <ul class="courses">

          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
