/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  margin-top: 3rem;
  color: tint($text-color, 40%);
  font-size: 70%;
}

.copyright {
  font-family: $monospace-font-family;
}
