---
layout: default
---

{% assign cv = site.data.cv %}
  {% if page.image %}
    {% assign intro_image = page.image.path | default: page.image %}
    {% unless intro_image contains '://' %}
      {% assign intro_image = intro_image | relative_url %}
    {% endunless %}
    {% assign intro_image = intro_image | escape %}
    <div class="intro-image">
      <img src="{{ intro_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}
{% include cv/intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>

    {% include footer.html %}
  </div>
</main>
